#navbarNav{
    margin-left: 50%;
}
.navbar-brand{
    margin-left: 10%;
}
strong{
    color: #1090CB;
}
span{
    color: #1090CB;
}
#Experiensed{
margin-top: 35%;
}
#button1{
    margin-top: 10%;
}
#button2{
    background-color: #e7f9ff;
}
#button3{
    margin-top: 10%;
    margin-left: 23%;
    text-align: center;
}
#button{
    margin-top: 15%;
    margin-left: 5%;
}
#img{
    margin-top: 10%;
}
.img2{
    margin-top: 10%;
}
#button4{
    margin-left: 5%;
    margin-top: 13%;
}